
.activ {
    background-color:#109A99;
    box-sizing: border-box;
    color: white !important;
    direction: none;
}
.active{
  font-size: 16px;
}
.navbar-brand{
  font-family: 'WorkSans-Regular';
  font-size: 18px;

}
