

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top"> <!-- fixed-top -->
        <a routerLink='/home' class="navbar-brand"><img src="../../assets/image/logo.png" width="50px" alt=""/>AI Cyber Solutions Pvt. Ltd</a>
        <ul class="nav navbar-nav mr-auto"></ul>
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a routerLink='dashboard' routerLinkActive='active activ' class="nav-link ml-2">Dashboard</a>
            </li>
            <li class="nav-item">
                <a routerLink='home' routerLinkActive='active activ' class="nav-link ml-2">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink='about' routerLinkActive='active activ' class="nav-link ml-2">About Us</a>
            </li>
            <li class="nav-item">
                <a routerLink='leave' routerLinkActive='active activ' class="nav-link ml-2">Leave Req</a>
            </li>
            <li class="nav-item">
                <a routerLink='leaveStatus' routerLinkActive='active activ' class="nav-link ml-2">Leave Res</a>
            </li>
            <li class="nav-item">
              <a routerLink='leaveManage' routerLinkActive='active activ' class="nav-link ml-2">LeaveManage</a>
            </li>
            <li class="nav-item">
                <a routerLink='policy' routerLinkActive='active activ' class="nav-link ml-2">Policy</a>
            </li>
            <li class="nav-item">
                <a routerLink='profile' routerLinkActive='active activ' class="nav-link ml-2">Add Emp</a>
            </li>
        </ul>
    </nav>
