<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="name" class="">First Name</label>
      <input type="text" class="form-control" id="firstname">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="lastname" class="">Last Name</label>
      <input type="text" class="form-control" id="lastname">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="employee" class="">Employee Id</label>
      <input type="text" class="form-control" id="employee" disabled>
    </div>

  </div>
</div>
<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="contactnumber" class="">Contact Number</label>
      <input type="text" class="form-control" id="contactnumber">

    </div>

  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="email" class="">Personal Email Id</label>
      <input type="text" class="form-control" id="email">
    </div>
  </div>
</div>
<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="gender" class="">Gender</label> <br>
      <div class="custom-control custom-radio custom-control-inline">
        <div class="col-md-4">
          <input type="radio" class="custom-control-input" id="male" name="gender">
          <label class="custom-control-label " for="male">Male</label>
        </div>
        <div class="col-md-5">
          <input type="radio" class="custom-control-input " id="female" name="gender">
          <label class="custom-control-label" for="female">Female</label>
        </div>
        <div class="col-md-2">
          <input type="radio" class="custom-control-input" id="others" name="gender">
          <label class="custom-control-label" for="others">Others</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="bloodtype" class="">Blood Type</label>
      <select id="bloodtype" class="custom-select" name="bloodtype">
        <option value="">Select Blood ...</option>
        <option value="ab">AB +</option>
        <option value="b">B +ve</option>
        <option value="o">O +ve</option>
      </select>
    </div>
  </div>
</div>
<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="officenumber" class="">Office Number</label>
      <input type="text" class="form-control" id="officenumber">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="officemail" class="">Office Mail id</label>
      <input type="text" class="form-control" id="officemail">

    </div>
  </div>
</div>
<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="dob" class="">DOB</label>
      <input type="date" class="form-control" id="dob">

    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="pannumber" class="">PAN Number</label>
      <input type="text" class="form-control" id="pannumber">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="passport" class="">Passport Number</label>
      <input type="text" class="form-control" id="passport">
    </div>
  </div>

</div>
<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="emgcontactname" class="">Emergency Contact Person Name</label>
      <input type="text" class="form-control" id="emgcontactname">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="emgcontactnumber" class="">Emergency Contact Number </label>
      <input type="text" class="form-control" id="emgcontactnumber">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="relationship" class="">Relatinship</label>
      <input type="text" class="form-control" id="relationship">

    </div>
  </div>
</div>
<div class="col-md-12 row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="address" class="">Current Address</label>
      <input type="text" class="form-control" id="address">

    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="pincode" class="">Pincode</label>
      <input type="text" class="form-control" id="pincode">
    </div>
  </div>
</div>
<div class="col-md-12 text-center pt-3 pb-3">
  <h2>Salary Details</h2>
</div>

<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="bankname" class="">Bank Name</label>
      <input type="text" class="form-control" id="bankname">

    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="accountno" class="">Account Number</label>
      <input type="text" class="form-control" id="accountno">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="branch" class="">Brach Name</label>
      <input type="text" class="form-control" id="branch">
    </div>
  </div>

</div>
<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="ifscode" class="">IFSC Code</label>
      <input type="text" class="form-control" id="ifscode">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="salary" class="">Salary</label>
      <input type="text" class="form-control" id="salary">

    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="taxno" class="">Tax</label>
      <input type="text" class="form-control" id="taxno">
    </div>
  </div> <br>

  <!-- //Social links -->
  <div class="text-center pt-3 pb-3 col-md-12">
    <h2>Social Media</h2>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="bankname" class="">Facebook Link</label>
        <input type="text" class="form-control" id="bankname">

      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="accountno" class="">LinkedIn Link</label>
        <input type="text" class="form-control" id="accountno">

      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="branch" class="">Twitter Link</label>
        <input type="text" class="form-control" id="branch">
      </div>
    </div>

  </div>

</div>
