<table class='table table-hover'>
  <tr>
    <th>SNo</th>
    <th>Apply Date</th>
    <th>Reason</th>
    <th>Leave Days</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Griffin</td>
    <td>Peter</td>
    <td>Griffin</td>
    <td><Button class="btn btn-success">Approval</Button> </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Griffin</td>
    <td>$150</td>
    <td>Peter</td>
    <td><Button class="btn btn-danger">Reject</Button></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Swanson</td>
    <td>$300</td>
    <td>$100</td>
    <td><Button class="btn btn-warning">Pending</Button></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Brown</td>
    <td>$250</td>
    <td>Peter</td>
    <td><Button class="btn btn-warning">Pending</Button></td>
  </tr>
</table>
