<div class="col-md-12 row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="email" class="">Name</label>
      <input type="text" class="form-control" id="email">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="email" class="">Location</label>
      <input type="text" class="form-control" id="email">
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 mt-2">
        <label for="" class=""></label>
        <button class="btn btn-primary btn-block">Search</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>Sno</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Contact No</th>
      <th>DOB</th>
      <th>Location</th>
      <th>Emg.Name</th>
      <!-- <th>Emg.Relat.</th> -->
      <th>Emg.Contact</th>
      <!-- <th>Gmail</th> -->
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <th>1</th>
      <td>Iswarya devi</td>
      <td>HR executive</td>
      <td>91-9840811906</td>
      <td>27.09.1992</td>
      <td>Chennai</td>
      <td>P.Bharvatdy</td>
      <td>Grandmotder</td>
      <td>9344507685</td>
      <td>aishwaryaaicspvtltd@gmail.com</td>
      <td>
        <span class='btn btn-primary' (click)="openXl(content)">Edit</span>
        <span class='btn btn-success ml-1' (click)="openXl(content)">Show</span>
        <span class='btn btn-danger ml-1'>Delete</span>
      </td>
    </tr> -->
    <!-- <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    </tr> -->
    <tr *ngFor="let emp of Employees |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td>{{ emp.id }}</td>
      <!-- <td>{{ emp.id }}</td> -->
      <td>Iswarya devi</td>
      <td>HR executive</td>
      <td>91-9840811906</td>
      <td>27.09.1992</td>
      <td>Chennai</td>
      <td>P.Bharvatdy</td>
      <td>9344507685</td>
      <td>
        <span class='btn btn-primary' (click)="openXl(content,emp)">Edit</span>
        <span class='btn btn-success ml-1' (click)="openXl(content)">Show</span>
        <span class='btn btn-danger ml-1'>Delete</span>
      </td>
    </tr>

  </tbody>
</table>
<!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page"></ngb-pagination> -->
<ngb-pagination class="d-flex justify-content-center" [collectionSize]="100" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <app-update-details></app-update-details>
    <!-- <app-show-details *ngIf="Show"></app-show-details> -->

  </div><!-- madel body end -->
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
    <button type="button" class="btn btn-primary">Update details</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>
